#about-me .heading {
    text-align: center;
}

#about-me .heading h1 {
    text-transform: uppercase;
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 10px 80px;
    margin-top: 50px;
    margin-bottom: 60px;
    background: linear-gradient(to right,  #00b8b8, #00b8b800);
    
    clip-path: polygon(
        0 50%,
        10% 0,
        100% 0%,
        100% 50%,
        90% 100%,
        0% 100%,
        0% 50%
    );
    -webkit-clip-path: polygon(
        0 50%,
        10% 0,
        100% 0%,
        100% 50%,
        90% 100%,
        0% 100%,
        0% 50%
    );
}

#about-me .content article{
    padding: 20px 40px;
    margin: 30px auto;
    width: 600px;
    border: 2px solid #0FF;
    background-color: #00ffff2f;
}

#about-me .content article h2{
    color: #FFF;
    font-family: 'Inconsolata', monospace;
}

#about-me .content article p{
    color: #0FF;
    font-family: 'Inconsolata', monospace;
}

#about-me .content article img{
    width: 250px;
    height: 250px;
    float: right;
}

@media (max-width: 992px){

    #about-me .heading {
        text-align: center;
    }
    
    #about-me .heading h1 {
        text-transform: uppercase;
        display: inline-block;
        color: #FFF;
        text-align: center;
        padding: 10px 80px;
        margin-top: 50px;
        margin-bottom: 60px;
        background: linear-gradient(to right,  #00b8b8, #00b8b800);
        
        clip-path: polygon(
            0 50%,
            10% 0,
            100% 0%,
            100% 50%,
            90% 100%,
            0% 100%,
            0% 50%
        );
        -webkit-clip-path: polygon(
            0 50%,
            10% 0,
            100% 0%,
            100% 50%,
            90% 100%,
            0% 100%,
            0% 50%
        );
    }
    
    #about-me .content article{
        padding: 10px 20px;
        margin: 30px auto;
        width: 80%;
        border: 2px solid #0FF;
        background-color: #00ffff2f;
    }
    
    #about-me .content article h2{
        color: #FFF;
        font-family: 'Inconsolata', monospace;
    }
    
    #about-me .content article p{
        color: #0FF;
        font-family: 'Inconsolata', monospace;
    }
    
    #about-me .content article img{
        width: 150px;
        height: 150px;
        float: right;
    }

}