#contact-me .heading {
    text-align: center;
}

#contact-me .heading h1 {
    text-transform: uppercase;
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 10px 80px;
    margin-top: 50px;
    margin-bottom: 60px;
    background: linear-gradient(to right,  #00b8b8, #00b8b800);
    
    clip-path: polygon(
        0 50%,
        10% 0,
        100% 0%,
        100% 50%,
        90% 100%,
        0% 100%,
        0% 50%
    );
    -webkit-clip-path: polygon(
        0 50%,
        10% 0,
        100% 0%,
        100% 50%,
        90% 100%,
        0% 100%,
        0% 50%
    );
}

#contact-me form#contact-form,
#contact-me form#contact-form input{
    font-family: 'Inconsolata', monospace;
}

#contact-me form#contact-form{
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #00ffff2f;
    border: 2px solid #0FF;
}

#contact-me form#contact-form .descr{
    color: #0FF;
}

#contact-me form#contact-form label{
    color: #0FF;
}

#contact-me form#contact-form .required{
    color: rgb(228, 61, 61);
}

#contact-me button{
    min-width: 120px;
}

#contact-me form#contact-form .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;

    padding-top: 8px;
    padding-bottom: 8px;
}

#contact-me form#contact-form .row .field-group{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#contact-me form#contact-form input{
    height: 20px;
}

#contact-me form#contact-form textarea{
    min-height: 100px!important;
    resize: vertical;
}