#footer {
    margin-top: 50px;
    background: url('./../images/footer_background.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 130%;
    min-height: 200px;
}

#footer .container {
    background-color: #29456b91;
    margin: 50PX 100PX;
    padding: 20px 25px;
    display: flex;
    color: #0FF;
}

#footer .container h6 {
    color: #FFF;
    font-size: 1em;
    margin: 0;
}

#footer .container ul {
    list-style-type: none;
    padding: 7px 5px 7px 0;
    font-size: 1.05rem;
    font-family: 'Inconsolata', monospace;
}

#footer .container a {
    text-decoration: none;
    color: #0FF;
}

#footer .container .about-website {
    flex: 1;
}

#footer .container .find-me-on {
    flex: 1;
}

#footer .privacy {
    cursor: not-allowed;
}

#footer .reference {
    cursor: not-allowed;
}


@media (max-width: 992px){

    #footer {
        margin-top: 50px;
        background: url('./../images/footer_background.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 300%;
        min-height: 200px;
    }
    
    #footer .container {
        background-color: #29456b91;
        margin: auto 0;
        padding: 20px 100px;
        display: flex;
        flex-direction: column-reverse;
        color: #0FF;
    }
    
    #footer .container h6 {
        color: #FFF;
        font-size: 1em;
        margin: 0;
    }
    
    #footer .container ul {
        list-style-type: none;
        padding: 7px 5px 7px 0;
        font-size: 1.05rem;
        font-family: 'Inconsolata', monospace;
    }
    
    #footer .container a {
        text-decoration: none;
        color: #0FF;
    }
    
    #footer .container .about-website {
        flex: 1;
    }
    
    #footer .container .find-me-on {
        flex: 1;
    }
    
    #footer .privacy {
        cursor: not-allowed;
    }
    
    #footer .reference {
        cursor: not-allowed;
    }
    
}